@-webkit-keyframes ef-pulse-grow {
    to {
      -webkit-transform: scale(0.5);
      transform: scale(1.2);
    }
  }
  @keyframes ef-pulse-grow {
    to {
      -webkit-transform: scale(0.5);
      transform: scale(1.2);
    }
  }
  .ef-pulse-grow {
    display: inline-block; 
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent; 
  }
  .ef-pulse-grow:hover, .ef-pulse-grow:focus, .ef-pulse-grow:active {
    -webkit-animation-name: ef-pulse-grow;
    animation-name: ef-pulse-grow; 
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate; 
    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards; 
    transition:5s;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden;
}

canvas {
    border: 1px solid #000;
    border-radius: 1.8em;
    display: block;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#celular {
    width: 46em;
    height: 38em;
    position: fixed;
    margin: 0 auto;
}

#letsGo {
  width: 13em;
  height: 10em;
  position: fixed;
  margin-left: 46em;
  margin-bottom: 22em;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  animation: ef-pulse-grow 1.5s infinite;
}

/* [id*="celular"] {
  width: 0em;
  height: 0em;
} */

/* * For mobile phones: */
@media only screen and (max-width: 440px) {
  /* For tablets: */
  #celular {width:0%;}
  canvas {
    width: 100%; 
    height: 100%;  
    border-radius: 0;
    margin: 0;
    border: 0em;
  }
  body {margin: 0;}
  #devArthur {
    width: 9em;
    height: 13em;
    position: fixed;
    margin-left: 2em;
    margin-top: 26em;
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
    animation: ef-pulse-grow 1.5s infinite;
  }
}

/* * For pc: */
@media only screen and (min-width: 440px) {
  #devArthur {
    width: 0em;
    height: 0em;
  }
}
